/************ Navigation ******************/
nav {
    display: flex;
    background-color: var(--light-blue);
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 7em;
}

#navLinks {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

#navDropdown {
    display: none;
}

#searchIcon {
    width: 8%;
    height: 8%;
    align-content: center;
}

/* Bounce on hover */
#navProfile:hover {
    animation: bounce 0.5s;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    60% {
        transform: translateY(-10px);
    }
}

/* Mobile Menu Styles */
#mobileMenu {
    display: none;
}

/* Mobile dropdown hidden by default */
.mobile-menu {
    display: none;
    flex-direction: column;
    background-color: var(--light-blue);
    padding: 15px;
    margin-top: -30px;
    padding-top: 0px;
    text-align: center;
}

/* Dropdown link styling */
.mobile-menu a {
    display: block;
    padding: 40px;
    color: var(--tan);
    text-decoration: none;
    font-weight: 600;
}

nav a {
    padding: 0px;
    margin: 0px;
    font-family: "connemara-old-style", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    color: var(--tan);
    align-content: center;
}

#navProfile {
    width: 20%;
    height: 20%;
    z-index: 1;
    margin-bottom: -70px;
    margin-right: -60px;
}

#profileView {
    width: 20%;
    height: auto;
}

#navProfile {
    justify-content: right;
}


@media screen and (max-width: 768px) {
    nav {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 100%;
        height: 10em;
        padding: 20px;
        justify-content: center;
        align-items: center;
        position: relative;
        gap: 20px;
    }



    #navDropdown {
        display: block;
    }

    #navLinks {
        display: none;
    }

    button {
        background: none;
        border: none;
    }

    button img {
        width: 40%;
        height: auto;
    }

    #navProfile {
        width: 50%;
        height: auto;
        margin-bottom: 0;
        margin-right: 0;
    }

    #logo {
        width: 100%;
        height: auto;
        margin: auto;
    }

    /*
* {
    outline: 1px solid red;
}*/
}