@import "nav.css";
@import "footer.css";

:root {
    --dark-blue: #222C40;
    --light-blue: #394A59;
    --tan: #F2DEA0;
    --darker-tan: #D9BD89;
    --gray: #A6977B;
    --header-font: "connemara-old-style", sans-serif;
    /* font-family: "connemara-old-style", sans-serif;
    font-weight: 700;
    font-style: normal;*/
}

section {
    margin-top: 40px;
    margin-bottom: 100px;
}

body {
    background-color: var(--dark-blue);
    color: var(--gray);
}

.content {
    padding: 30px;
}

h2 {
    font-family: var(--header-font);
    color: var(--tan);
}


/* Hero Section */

.heroInfo {
    display: flex;
    justify-content: space-between;
    margin: auto;
}


#continueQuestInfo {
    display: flex;
}

#continueQuestInfoImg,
#profileView {
    width: auto;
    height: 300px;
    /* or whatever size you want */
    object-fit: cover;
    padding: 20px;
}

.avatarInfo {
    display: flex;
}


#questText,
#avatarStats {
    width: 400px;
    height: auto;
}



/* Rest of Movie List Selection */

.list {
    display: flex;
    gap: 20px;
}

.list img {
    width: auto;
    height: 400px;
}

.genres {
    margin: auto;
    text-align: center;
}




@media screen and (max-width: 768px) {
    body {
        justify-content: center;
        align-items: center;
    }

    .avatarInfo,
    #continueQuestInfo {
        flex-direction: column;
    }

    .heroInfo {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        text-align: center;
    }


    #questText,
    #avatarStats {
        width: 200px;
        height: auto;
    }


    .list {
        display: flex;
        gap: 20px;
        overflow: hidden;
    }

    .genres img {
        width: 90%;
        height: auto;
    }
}